{% extends "fd/elements/base.html" %}
{% block content %}
<div class="container">
    <br>
    <table class="table">
    <h3 class="page-header">Register Customers</h3>
    <form action="{% url 'fd:customer_create_save' %}" method="post" class="form-horizontal" role="form">
            {% csrf_token %}
            <tbody>
            {{ form }}
            </tbody>
            <tr>
                <td><input type="submit" class="btn btn-primary" value="submit" style="width:100px;"></td>
                <td><button onclick="javascript:history.back();" class="btn btn-secondary" style="width:100px;">Cancel</button></td>
            </tr>
        </form>
    </table>
{% endblock %}