{% extends "fd/elements/base.html" %}
{% block content %}
<div class="container">

    <br>
    <h4>Surat Jalan</h4> 
    <table class="table">
        <thead>
            <tr>
                <th>No</th>
                <th>Nota</th>
                <th>Customer name</th>
                <th>transaction date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tr>
            <td>1</td>
            <td>001</td>
            <td>test_01</td>
            <td>Saturday, 10 January 2020 </td>
            <td><a href="#">details</a></td>
        </tr>
    </table>
    <br>
    <br>
    <h4>Transaction</h4> 
    <table class="table">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Nota</th>
                    <th>Customer name</th>
                    <th>transaction date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tr>
                <td>1</td>
                <td>001</td>
                <td>test_01</td>
                <td>Saturday, 10 January 2020 </td>
                <td><a href="#">details</a></td>
            </tr>
    </table>
    <br>
    <br>
    <h4>Products (based on sales on this month)</h4> 
    <table class="table">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Product Code</th>
                    <th>Crt</th>
                    <th>Pcs</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tr>
                <td>1</td>
                <td>0445</td>
                <td>200</td>
                <td>300</td>
                <td><a href="#">details</a></td>
            </tr>
    </table>
    <br><br>
</div>
{% endblock %}