{% extends "fd/elements/base.html" %}
{% block content %}
<div class="container">
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" /> <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"> </script> <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
    <script>
        $(document).ready(function(){
            $('#id_transaction_date').datepicker({
                language:'en',
                format:'yyyy-mm-dd'
            });
            
            // $("#txtSearch").autocomplete({
            //     source: "{% url 'fd:autocomplete' %}",
            //     minLength: 2,
            //     open: function(){
            //         setTimeout(function () {
            //             $('.ui-autocomplete').css('z-index', 99);
            //         }, 0);
            //     },
            //     success:function(data){
            //         console.log(data);
            //     }
            //   });            
        })
    </script>
    <script>
    $( function() {
        $(".autoc").live("focus", function (event) {
            $(this).autocomplete({
            source: "{% url 'fd:autocomplete' %}",
            minLength: 2,
            open: function(){
                setTimeout(function () {
                    $('.ui-autocomplete').css('z-index', 99);
                }, 0);
            },
            success:function(data){
                console.log(data);
            }
            });

            
        });
        
    });   
    </script>
    <br>
    <table class="table">
    <h3 class="page-header">Create Surat Jalan</h3>
    <form action="{% url 'fd:product_data_confirm' %}" method="post" class="form-horizontal" role="form">
            {% csrf_token %}
            <tbody>
            {{ form }}
            </tbody>
    </table>
    <table id="table_prod">
        <tr>
            <td>code</td>
            <td>qty</td>
            <td>pcs</td>
        </tr>
        <tr>
            <td align="center"><input type="text" style="width:100px;" class="autoc" id="txtSearch" name="productcode[]">
            <input type="text" name="pro_id" id="pro_id" style="width:50px;"></td>
            <td align="center"><input type="text" style="width:100px;" class="form-control" name="qtyinput[]"></td>
            <td align="center"><input type="text" style="width:100px;" class="form-control" name="pcsinput[]"></td>
        </td>
        </tr>
        <tr>
                <td align="center"><input type="text" style="width:100px;" class="autoc" id="txtSearch" name="productcode[]"></td>
                <td align="center"><input type="text" style="width:100px;" class="form-control" name="qtyinput[]"></td>
                <td align="center"><input type="text" style="width:100px;" class="form-control" name="pcsinput[]"></td>
            </td>
            </tr>
    </table>
    <table>    
        <tr>
            <td><input type="submit" class="btn btn-primary" value="submit" style="width:100px;"></td>
            <td><button onclick="javascript:history.back();" class="btn btn-secondary" style="width:100px;">Cancel</button></td>
        </tr>
        
        </form>
        <tr>
            <td><button class="btn btn-secondary" onclick='addRow("table_prod");'>add new row</button></td>
            <td><button class="btn btn-danger" onclick='deleteRow("table_prod");'>delete row</button></td>
        </tr>
    </table>
{% endblock %}