{% extends "fd/elements/base.html" %}
{% block content %}
<div class="container">

    <br>
    <table class="table">
    {% if product_id %}
    <h3 class="page-header">Edit product</h3>
    <form action="{% url 'fd:update_product' product_id %}" method="post" class="form-horizontal" role="form">
    {% else %}
    <h3 class="page-header">Create Product</h3>
    <form action="{% url 'fd:product_create' %}" method="post" class="form-horizontal" role="form">
    {% endif%}
            {% csrf_token %}
            <tbody>
            {{ form }}
            </tbody>
            <tr>
                <td><input type="submit" class="btn btn-primary" value="submit" style="width:100px;"></td>
                <td><button onclick="javascript:history.back();" class="btn btn-secondary" style="width:100px;">Cancel</button></td>
            </tr>
        </form>
    </table>
{% endblock %}